body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
img {
    margin-left: 50px;
    width: 170px;
    height: auto;
    margin-botton: -50px,
}
.container {
  display: flex;
  min-height: 200vh;
}
.colonna-sx {
  background-color: #d9f2ff;
  width: 260px;
  min-height: 200vh;
  font-size: 10px;
}
.colonna-sx h1  {
    margin: 0px;
    margin-left: 0px;
    padding-left: 50px
}
.colonna-sx h4  {
    margin: 0px;
    margin-left: 0px;
    padding-left: 10px
}
.colonna-sx p {
    margin: -5px;
    margin-left: -5px;
    padding-left: 30px;
}
.colonna.sx ul {
    margin: 0px;
    margin-left: -50px;
    padding-left: -20px;
}
.colonna-dx {
    background-color:aliceblue;
    width: calc(100% - 260px);
    min-height: 100vh;
    font-size: 12px;
}
.colonna-dx h1 {
    margin-left: 20px;
    font-size: 20px;
}
.colonna-dx h4 {
    text-align: left;
    margin: -5px;
    margin-left: 3px;
    padding: 0px;
}
.colonna-dx p {
    text-align: left;
    margin: 3px;
    margin-left: -30px;
    padding: 0px;
}

